body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.97rem;
}

.sidebar {
    width: 250px;
    background: linear-gradient(250deg, #7ca87e, #25812a);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .company-name {
    font-size: 18px;
    margin-bottom: 30px;
}

.sidebar .nav-link {
    color: white;
    margin: 5px 0;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.sidebar .nav-link .material-icons {
    margin-right: 10px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.main-content {
    flex-grow: 1;
    padding: 0;
    overflow-y: auto;
    background-color: #e3e3e3a0;
}

.top-nav {
    background-color: #def6dd;
    padding: 20px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 3px 9px rgba(17, 167, 0, 0.1);
}

.top-nav div {
    display: flex;
    align-items: center;
}

.top-nav .btn {
    margin-left: 10px;
}

/* dashboard summeries */
.card-dashboard1 {
    background: linear-gradient(45deg, #36a51ae9, #95d895);
}

.card-dashboard2 {
    background: linear-gradient(45deg, #63864e, #c0d998);
}

.card-dashboard3 {
    background: linear-gradient(45deg, #8a722b, #cab983);
}

.card-dashboard4 {
    background: linear-gradient(45deg, #4e4e4e, #bcc1c1);
}

.text-white {
    box-shadow: 0px 10px 10px -5px rgba(69, 69, 69, 0.421);
    transition: all 0.3s ease;
}

.text-white:hover {
    opacity: 0.9;
    transform: scale(1.02);
    box-shadow: 0px 10px 10px -5px rgba(69, 69, 69, 0.521);
    cursor: pointer;
}

.text-white .card-title {
    color: rgb(247, 247, 247);
    font-size: 0.97rem;
}
.text-white .card-text {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white:hover .card-text {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    border: 2px solid rgb(140, 255, 114);
    border-radius: 50%;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 3px 9px rgba(17, 167, 0, 0.152);
    border-top: 1px solid #7ca87e76;
}

.farmers-header {
    background: linear-gradient(45deg, #36a51a3e, #91d09121);
    color: rgba(22, 22, 22, 0.799);
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.create-button {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #36a51a3e, #91d09121);
    color: rgba(22, 22, 22, 0.799);
    padding: 3px;
    font-size: 1.1rem;
    border: 1px solid #22ff0076;
    border-radius: 5px;
    cursor: pointer;
}
.create-button .material-icons {
    color: rgb(77, 124, 55);
}
.create-button:hover {
    background: linear-gradient(45deg, #36a51a3e, #91d09121);
    color: rgba(45, 45, 45, 0.799);
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.modal-header {
    background: linear-gradient(45deg, #36a51a3e, #91d09121);
    color: rgba(22, 22, 22, 0.799);
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.table-striped th {
    background: rgba(146, 201, 155, 0.174);
    border: 1px solid #7ca87e76;
    color: rgba(22, 22, 22, 0.799);
    font-size: 1rem;
    font-weight: lighter;
    border-bottom: 2px solid #7ca87e76;
}

